version: v1

port: 8090

# https_port: 443

cache:
  engine: redis
  host: 127.0.0.1
  port: 6379
  password: '123456'
  db: 2

database:
  engine: postgres
  host: postgres
  port: 5432
  username: postgres
  password: postgres
  db: ingress

ssl:
  - domain: example.com
    cert:
      certificate: /config/ssl/example.com/fullchain.pem
      certificate_key: /config/ssl/example.com/privkey.pem

waf:
  whiteHosts:
    - waf.example.com

search:
  # api: https://httpbin.zcorky.com/api/v1/ingress/search
  api: https://httpbin.zcorky.com/get

fallback:
  service:
    name: httpbin.org
    port: 443

rules:
  - host: portainer.example.com
    backend:
      service:
        name: portainer
        port: 80
  - host: docker-registry.example.com
    backend:
      service:
        name: docker-registry
        port: 80
    paths:
      - path: /v2
        backend:
          service:
            name: docker-registry-v2
            port: 80
  - host: httpbin.example.work
    backend:
      service:
        protocol: https
        name: httpbin.zcorky.com
        port: 443
        request:
          host:
            rewrite:
    paths:
      - path: /ip3
        backend:
          service:
            protocol: https
            name: httpbin.zcorky.com
            port: 443
            request:
              path:
                rewrites:
                  - ^/ip3/(.*):/$1
      - path: /ip2
        backend:
          service:
            protocol: https
            name: httpbin.zcorky.com
            port: 443
            request:
              path:
                rewrites:
                  - ^/ip2:/ip
      - path: /ip
        backend:
          service:
            protocol: https
            name: httpbin.org
            port: 443
      - path: /httpbin.org
        backend:
          service:
            protocol: https
            name: httpbin.org
            port: 443
            request:
              path:
                rewrites:
                  - ^/httpbin.org/(.*):/$1
                  
  - host: t-(\w+).example.work
    backend:
      service:
        name: task.$1.svc
        port: 8080
    paths:
      - path: /api/v1/([^/]+)
        backend:
          service:
            name: $1.example.work
            port: 8080
            request:
              path:
                rewrites:
                  - ^/api/v1/([^/]+):/api/v1/task/$1
